# Data visualization
pandas
plotly

# .env file support
python_dotenv

# HTTP requests
requests

# Web services
Flask

# Python interpreter to initialize plotly in offline mode
ipython

# Python testing
pytest
pytest-cov
requests_mock
