# Data formats
# pyyaml

# Data visualization
kaleido
nbformat
pandas
plotly

# .env file support
# python_dotenv

# HTTP requests
requests

# Python formatting
autopep8
flake8

# Python interpreter
ipython

# Python testing
pytest
pytest-cov
requests_mock

# Static code analysis
bandit

# Web services
Flask

# YAML formatting
yamllint
